* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Body {
  background: rgb(236, 192, 176);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-size: 2.5rem;
  font-weight: 50;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  margin: auto;
  width: 65%;
  border-radius: 10px;
}

.inner-1-div {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.name {
  background: rgb(231, 228, 228);
  color: rgb(92, 87, 87);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  width: 20vw;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
.amount::-webkit-inner-spin-button,
.amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.amount {
  margin-left: 1%;
  background: rgb(231, 228, 228);
  color: rgb(92, 87, 87);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  width: 10vw;
  border-radius: 5px;
}

.select-type {
  margin-left: 1%;
  background: rgb(231, 228, 228);
  color: rgb(92, 87, 87);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  width: 7vw;
  border-radius: 5px;
}

.date {
  margin-left: 1%;
  background: rgb(231, 228, 228);
  color: rgb(92, 87, 87);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  width: 15vw;
  border-radius: 5px;
}

.inner-2-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 3rem;
  width: 32.5%;
  margin: auto;
}

.expense-btn {
  background: rgb(248, 96, 85);
  color: rgb(255, 255, 255);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  width: 10vw;
  border-radius: 5px;
  cursor: pointer;
}

.income-btn {
  background: rgb(50 202 50);
  color: rgb(255, 255, 255);
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: medium;
  outline: none;
  border: none;
  width: 10vw;
  border-radius: 5px;
  cursor: pointer;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}
.balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-size: 24px;
  font-weight: 10;
}

#span-balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "Hind", sans-serif;
  font-weight: 10;
  font-size: 24px;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  position: relative;
  margin: auto;
}

.income-table,
.expense-table {
  font-family: "Hind", sans-serif;
  border-collapse: collapse;
  width: 45vw;
}

.income-tr,
.expense-tr {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.income-table tbody,
.expense-table tbody {
  background: rgb(255, 255, 255);
  display: block;
  height: 30vh;
  overflow: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

th,
td {
  padding-left: 0.5rem;
}

.income-tr {
  background: rgb(112, 211, 112);
}

.expense-tr {
  background: rgb(235, 110, 101);
}

.input-name-td,
.input-amount-td,
.select-type-td,
.input-date-td {
  font-family: "Hind", sans-serif;
  border: none;
  outline: none;
  background: none;
}

.edit-btn,
.close-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.sort-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  position: absolute;
}
/* **************************************************** */
@media only screen and (max-width: 1247px) {
  .section-3 {
    flex-direction: column;
    width: 70vw;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td {
    width: 25vw;
  }

  .income-table tbody,
  .expense-table tbody {
    width: 70vw;
  }
}

/* *************************************************** */
@media only screen and (max-width: 927px) {
  .section-1 {
    width: 80vw;
  }
  .inner-1-div {
    flex-direction: column;
    padding: 0;
  }

  .name {
    width: 30vw;
    margin: 1rem;
  }

  .amount {
    width: 25vw;
    margin: 1rem;
  }

  .select-type {
    width: 10vw;
    margin: 1rem;
  }

  .date {
    width: 20vw;
    margin: 1rem;
  }
  .inner-2-div {
    width: 45vw;
  }
  .income-btn,
  .expense-btn {
    width: 20vw;
  }

  table {
    width: 70vw;
  }

  td {
    width: 20vw;
  }

  #name {
    width: 3vw;
  }
  #amount {
    width: 9vw;
  }
  #payment {
    width: 17vw;
  }
  .input-name-td {
    width: 10vw;
  }
  .input-amount-td {
    width: 17vw;
  }
  .select-type-td {
    width: 10vw;
  }
}

@media only screen and (max-width: 711px) {
  .name {
    width: 60vw;
  }

  .amount {
    width: 50vw;
  }

  .select-type {
    width: 20vw;
  }

  .date {
    width: 30vw;
  }
  .inner-2-div {
    width: 50vw;
  }

  .section-3 {
    width: 90vw;
  }

  .income-table tbody,
  .expense-table tbody {
    width: 90vw;
  }
}

@media only screen and (max-width: 463px) {
  .date {
    width: 45vw;
  }
  .inner-2-div {
    width: 60vw;
  }
  .income-btn,
  .expense-btn {
    width: 25vw;
  }

  .section-3 {
    width: 99vw;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td {
    width: 20vw;
  }

  .income-table tbody,
  .expense-table tbody {
    width: 99vw;
  }
}

@media only screen and (max-width: 371px) {
  .inner-2-div {
    width: 70vw;
  }
  .income-btn,
  .expense-btn {
    width: 30vw;
  }

  .select-type-td {
    width: 5vw;
  }
  .input-date-td {
    width: 30vw;
  }
}
